NEXT_PUBLIC_LA_STRADA_MEDIA_BASE_URL=https://pub-9152d84694a54c949533f907a0433921.r2.dev
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_MEDIA_BUCKET=project-media
SUPABASE_SECRET_KEY=
